body, html{
    margin: 0 auto;
    max-width: 600px;
    padding-top: 20px;
    background-color: #e9e9e9;
    font-family: "pgb", sans-serif;
}
@font-face {
    font-family: "pgb";
    src: url(fonts/PokemonGb-RAeo.ttf);
}
@font-face {
    font-family: "unknown";
    src: url(fonts/PokemonUnownGb-YAWa.ttf);
}
header{
    width: 300px;
    margin: auto;
}
header img{
    width: 100%;
}